body {
    background-color: black;
    user-select: none;
    overflow: hidden;
}

.imgstyle {
    width: 24%;
    position: absolute;
    left: 6.8%;
    top: 25%;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease;
    border-radius: 32px;
}

.headerstyle {
    color: white;
    text-align: center;
    left: 9.5%; /*This was 14%*/
    top: 10%;
    width: 20%;
    font-family: monospace;
    position: absolute;
    text-align: center;
    font-size: 300%;
}

.savebuttonstyle {
    font-family: monospace;
    background-color: rgb(237, 100, 155);
    cursor: pointer;
    border-radius: 8px;
    color: white;
    border-color: white;
    position: absolute;
    left: 13%;
    top: 80%;
    width: 10%;
    height: 6%;
    font-size: x-large;
    transition: all 0.2s ease;
}

.backgroundforupgrades {
    border-radius: 4px;
    position: absolute;
    background-color: rgb(114, 27, 91);
    width: 60%;
    height: 98%;
    left: 39%;
    overflow-y: auto;
    overflow-x: hidden;
}

.note {
    color: white;
    font-family: monospace;
    position: absolute;
    top: 95%;
    transition: all 0.6s ease;
    opacity: 0;
}

.upgradeclicks {
    position: absolute;
    background-color: rgb(237, 100, 155);
    border-radius: 8px;
    border-color: white;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 15%;
    cursor: pointer;
}

.titleupgrade {
    font-size: xxx-large;
    text-align: left;
    font-family: monospace;
    color: white;
}

.upgradeimg1 {
    top: 10%;
    left: 88%;
    position: absolute;
    border-radius: 8px;
    width: 10%;
}

.cog {
    display: none;
    cursor: pointer;
    position: absolute;
    width: 3%;
    transition: all 0.2s ease;
}

.wipebuttonstyle {
    font-family: monospace;
    background-color: rgb(198, 100, 237);
    cursor: pointer;
    border-radius: 8px;
    color: white;
    border-color: white;
    position: absolute;
    left: 14%;
    top: 88%;
    width: 8%;
    height: 5%;
    font-size: 150%;
    transition: all 0.2s ease;
}

.settingsdiv {
    display: none;
    visibility: hidden;
    position: absolute;
    background-color: rgb(114, 27, 91);
    border-radius: 8px;
    left: 4%;
    top: 4%;
    width: 30%;
    height: 65%;
}

.upgradeclicks2 {
    position: absolute;
    background-color: rgb(237, 100, 155);
    border-radius: 8px;
    border-color: white;
    left: 2%;
    top: 18%;
    width: 96%;
    height: 15%;
    cursor: pointer;
}

.titleupgrade2 {
    font-size: xxx-large;
    text-align: left;
    font-family: monospace;
    color: white;
}

.upgradeimg2 {
    top: 10%;
    left: 88%;
    position: absolute;
    border-radius: 8px;
    width: 10%;
}

.persecstyle {
    color: white;
}
